#helper {
  height: 90vh;
  width: 25%;
  color: white;
  border-radius: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

#init {
  height: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.2);
}

#init:hover {
  box-shadow: 1px 1px 1000px 10px rgb(0, 0, 0, 0.4);
}

.helperheader,
.helperbody,
.helperfooter {
  height: auto;
  width: 100%;
}
.helperheader {
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
.helperheader > .heading {
  padding: 2% 5%;
  border-radius: 10px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.1);
}
.helperheader > .close {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.1);
}

.helperbody {
  background-color: #f3f3f3;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 0 0;
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.helperbody > .message.yours {
  width: 85%;
  margin: 10px;
  padding: 10px;
  align-self: flex-start;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.1);
}

.helperbody > .message.mine {
  background-color: white;
  color: black;
  width: 85%;
  align-self: flex-end;
  margin: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.1);
}

.message p {
  margin: 0;
  word-wrap: break-word;
  font-size: 0.8em;
  font-family: sans-serif;
  font-style: italic;
}
.helperfooter {
  background-color: #f3f3f3;
  border-top: solid 1px rgb(0, 0, 0, 0.2);
  height: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.helperfooter > .input {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.helperfooter > .sendbtn {
  width: 20%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.helperfooter > .input > input {
  width: 90%;
  padding: 0 2%;
  height: 60%;
  margin: auto;
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.2);
}

.helperfooter > .sendbtn > button {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
  #helper {
    height: 90vh;
    width: 35%;
  }
}
@media (max-width: 700px) {
  #helper {
    height: 90vh;
    width: 65%;
  }
}
@media (max-width: 400px) {
  #helper {
    height: 90vh;
    width: 95%;
  }
}
@media (max-width: 300px) {
  #helper {
    display: none;
  }
}
